:root {
    --primary-color: #f6f6f6;
    --secondary-color: #000000;
    --tertiary-color: #545454;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*HEADER/ nav BAR STYLES*/

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* STYLE ALL SECTIONS*/
section {
    padding: 60px;
}

/*HERO STYLES*/
.hero-subtitle {
    max-width: 35%;
    display: block;
    text-align: right;
    margin: 5.5%;
    color: var(--primary-color);
    font-size: 50px;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
    background-image: url('../assets/images/peakpx.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    padding: 60px;
}

/*HERP STYLES END*/

/*MAIN*/
main {
    background-color: var(--primary-color);
}

/*UTILITY STYLES*/
.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    margin-bottom: 0 auto 35px auto;
    padding-bottom: 20px;
    display: inline-block;
    text-align: left;
    width: 20%;
}

.primary-border {
    border-color: var(--secondary-color);
}

/*FLEX STYLES*/
.flex-row {
    display: flex;
}

.title {
    background: var(--primary-color);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-left: 6px solid var(--tertiary-color);
}

.content {
    margin: 20px;
    flex: 1;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.title img {
    width: 50%;
}

/*BIO STYLES*/

.bio-text {
    padding: 25px;
    line-height: 1.7;
}

.bio-text h3 {
    font-size: 28px;
}

.bio-text h4 {
    color: var(--secondary-color);
    font-size: 40px;
    margin-bottom: 150px;
}

.bio-text p {
    font-size: 30px;
    color: var(--tertiary-color);
    padding: 15px;
}

/*PORTFOLIO STYLES*/
.work-text {
    padding: 25px;
    line-height: 1.3;
}

.work-text h3 {
    font-size: 28px;
}

.work-text h4 {
    color: var(--secondary-color);
    font-size: 40px;
    margin-bottom: 150px;
}

.work-text p {
    font-size: 30px;
    color: var(--tertiary-color);
    padding: 15px;
}

/*CONTACT STYLES*/
.contact {
    line-height: 1.3;
    color: var(--secondary-color);
    font-size: 40px;
}

.list {
    list-style: none;
    padding: 40px;
}

.list li {
    display: inline-flex;
    font-size: 30px;
    padding: 10px;
}

.list li a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.list li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}


/*FOOTER STYLES*/
footer {
    background: var(--primary-color);
    padding: 150px 35px;
    width: 100%;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 70px;
}

footer div {
    line-height: 1.5;
}

footer img {
    height: 250px;
    margin-left: 50%;
    margin-top: -100px;
}